*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.box-shadow{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* navbar  */
.navbar-nav.active li a{
    display: block !important;
}
.navbar-nav.active{
    position: absolute;
    margin:0 auto;
    align-items: center;
    left: 10px;
    width: 96%;
    top: 70px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    transform: translateY(0);
}
.navbar-brand{
    font-size: 22px;
}
.nav-link{
    font-size: 19px;
    font-weight: 600;
    color: black !important;
}
.nav-link:hover{
    color: rgb(255, 98, 0) !important;
}
.nav-link.active{
    color: rgb(255, 98, 0) !important;
}
.nav-icon i{
    padding: 8px;
    border-radius: 50%;
    background: white;
    margin: 8px 5px;
    cursor: pointer;
}
.nav-icon{
    position: absolute;
    top: 8px;
    left: 50%;
}

.nav-icon i:hover{
    color: white;
    background: rgb(255, 98, 0);
}
.bar{
    padding: 8px !important;
    border-radius: 10px !important;
    display: none;
    cursor: pointer;
}
.bar:hover{
    background: rgb(255, 98, 0);
    color: white;
}
@media (max-width: 991px){
    .bar{
        display: block ;
    }
    .navbar-nav li a{
        display: none ;
    }
}


/* search input in navbar  */
.search-form.active{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateY(0);
    transition: 0.5s ease;
}
.search-form{
    transform: translateY(-200px);
    transition: 0.5s ease;
    position: absolute;
    top: 80px;
    left: 50%;
}
.label{
    cursor: pointer;
    background: white;
    padding: 8px;
    border-radius: 15px;
}
.label:hover{
    background-color: rgb(255, 98, 0);
    color: white;
}
.search-input{
    border-radius: 10px;
    border: 0.2px solid black;
}
@media (max-width:654px){
    .search-form,
    .search-form.active{
        position: absolute;
        top: 80px;
        left: 25%;
    }
}
@media (max-width:459px){
    .search-form,
    .search-form.active{
        position: absolute;
        top: 80px;
        left: 10%;
    }
}
/* search input in navbar  */



/* info section in navbar  */
.info-section{
    position: absolute;
    right: 10px;
    top: 75px;
    transform: translateX(-1600px);
    transition: 0.4s linear;
}
.info-section.active{
    width: 25%;
    position: absolute;
    right: 10px;
    top: 75px;
    transform: translateX(0);
    transition: 0.4s linear;
}
.info-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-content-section i{
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 50%;
}
.info-content-section i:hover{
    background: rgb(255, 98, 0);
    color: white;
}
.phone,.mail,.location,.follow{
    margin-top: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
.follow{
    margin-bottom: 30px;
}
.phone{
    margin-top: 30px;
}
@media (max-width:991px){
    .info-section.active{
        width: 50%;
    }
}
@media (max-width:400px){
    .info-section.active{
        width: 80%;
    }
}

/* info section in navbar  */
