*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.box-shadow{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
}
.btn{
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: rgb(255, 98, 0);
    border: 1px solid rgb(255, 98, 0);
}

.title::after{
    content: "";
    width: 100px;
    background-color: rgb(255, 98, 0);
    height: 2px;
    position: absolute;
    top: 100px;
    left: 46%;
}
@media (max-width: 480px){
    .title::after{
        left: 37%;
    }
}
.title span{
    color: rgb(255, 98, 0);
}

/* navbar  */
.navbar-nav.active li a{
    display: block !important;
}
.navbar-nav.active{
    position: absolute;
    margin:0 auto;
    align-items: center;
    left: 10px;
    width: 96%;
    top: 70px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    transform: translateY(0);
    background-color: white;
}
.navbar-brand{
    font-size: 22px;
}
.nav-link{
    font-size: 19px;
    font-weight: 600;
    color: black !important;
    transition: 0.4s ease;
}
.nav-link:hover{
    color: rgb(255, 98, 0) !important;
}
.nav-link.active{
    color: rgb(255, 98, 0) !important;
}
.nav-icon i{
    padding: 8px;
    border-radius: 50%;
    background: white;
    margin: 8px 5px;
    cursor: pointer;
}
.nav-icon{
    position: absolute;
    top: 8px;
    left: 50%;
}

.nav-icon i:hover{
    color: white;
    background: rgb(255, 98, 0);
}
.nav-icon i{
    transition: 0.4s linear;
}
.bar{
    padding: 8px !important;
    margin-top: 8px;
    border-radius: 10px !important;
    display: none;
    cursor: pointer;
    transition: 0.4s ease;
}
.bar:hover{
    background: rgb(255, 98, 0);
    color: white;
}
@media (max-width: 991px){
    .bar{
        display: block ;
    }
    .navbar-nav li a{
        display: none ;
    }
}
@media (max-width: 450px){
    .nav-icon{
        position: absolute;
        top: 8px;
        left: 40%;
    }
}
@media (max-width: 3300px){
    .nav-icon{
        position: absolute;
        top: 8px;
        left: 38%;
    }
}

/* search input in navbar  */
.search-form.active{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateY(0);
    transition: 0.5s ease;
}
.search-form{
    transform: translateY(-200px);
    transition: 0.5s ease;
    position: absolute;
    top: 80px;
    left: 50%;
}
.label{
    cursor: pointer;
    background: white;
    padding: 8px;
    border-radius: 15px;
}
.label:hover{
    background-color: rgb(255, 98, 0);
    color: white;
}
.search-input{
    border-radius: 10px;
    border: 0.2px solid black;
}
@media (max-width:654px){
    .search-form,
    .search-form.active{
        position: absolute;
        top: 80px;
        left: 25%;
    }
}
@media (max-width:459px){
    .search-form,
    .search-form.active{
        position: absolute;
        top: 80px;
        left: 10%;
    }
}
/* search input in navbar  */



/* info section in navbar  */
.info-section{
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 75px;
    transform: translateX(-1600px);
    transition: 0.4s linear;
    background-color: white;
}
.info-section.active{
    width: 25%;
    position: absolute;
    right: 10px;
    top: 75px;
    transform: translateX(0);
    transition: 0.4s linear;
}
.info-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-content-section i{
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 50%;
}
.info-content-section i:hover{
    background: rgb(255, 98, 0);
    color: white;
}
.phone,.mail,.location,.follow{
    margin-top: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
.follow{
    margin-bottom: 30px;
}
.phone{
    margin-top: 35px;
}
.close{
    color: balck !important;
}
.close:hover{
    color: rgb(255, 98, 0);
}
@media (max-width:991px){
    .info-section.active{
        width: 50%;
    }
}
@media (max-width:400px){
    .info-section.active{
        width: 80%;
    }
}

/* info section in navbar  */




/* hero section starts */
.home{
    background: url(/images/home-slide-2.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.home-content{
    position: absolute;
    top: 30%;
    width: 55%;
}
.home-content h3{
    font-size: 2.5rem;
    color: rgb(255, 98, 0);
}
.home-content p{
    text-align: justify;
}

/* hero section ends */



/* about section starts */
.about{
    position: relative;
}
.about h1{
    color: black;
}
.about video{
    width: 100%;
}
.about .text{
    text-align: justify;
}
/* about section ends */




/* services section starts  */
.services{
    position: relative;
}
.box{
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    transition: 0.5s ease;
}

.box:hover{
   border: 2px solid rgb(255, 98, 0);
}
.box h2{
    color: rgb(255, 98, 0);
    font-size: 20px;
}
/* services section ends  */


/* project section starts  */
.projects{
    position: relative;
}
.projects .card{
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
}
.projects .card:hover{
    transform: scale(1.2);

}
.projects .content{
    position: absolute;
    bottom: 0;
    display: flex;
    background: white;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
.projects .plus{
    position: absolute;
    top: 25%;
    right: 5%;
}
.image-div{
    overflow: hidden !important;
}

/* project section ends  */